{% extends 'tracker/base.html' %}

{% block content %}
    <div class="evidence">
        <h1>{{ evidence.title }}</h1>
        <p>{{ evidence.text|linebreaksbr }}</p>
        {% if evidence.created_date %}
		<div class="date">
			<p><b>Requested date:</b> {{ evidence.created_date }}</p>
			<p><b>Requested by:</b> {{ evidence.requestor }} </p>
			<p><b>Owner:</b> {{ evidence.owner }} </p>
			<p><b>Required by:</b> {{ evidence.required_date }} </p>
		</div>
		{% endif %}
	{% if user.is_authenticated %}
		<a class="btn btn-default" href="{% url 'evidence_edit' pk=evidence.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
	{% endif %}
    </div>
{% endblock %}